<div class="content-section">
    <form class="form-group" [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">
      <legend class="border-bottom mb-4">Reset Password</legend>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
        class="form-control my-2"
        placeholder="Password"
        required
       />
       <div
       *ngIf="
       passwordResetForm.get('password').invalid &&
         (passwordResetForm.get('password').dirty ||
         passwordResetForm.get('password').touched)
       "
       class="alert alert-warning"
     >
       Please provide an password between 6-15 characters
     </div>
      <input
        type="password"
        id="repeatPassword"
        name="repeatPassword"
        formControlName="repeatPassword"
        class="form-control my-2"
        placeholder="Confirm Password"
        required
       />
       <div
       *ngIf="
       passwordResetForm.get('repeatPassword').invalid &&
         (passwordResetForm.get('repeatPassword').dirty ||
         passwordResetForm.get('repeatPassword').touched)
       "
       class="alert alert-warning"
     >
       Passwords do not match
     </div>
    
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit" >Reset Password</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
      <a routerLink="/user/login" class="ml-2"
        >Do you have an account already? 
      </a>
    </small>
  </div>
</div>

