<div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li *ngIf="isLoggedIn()==false"><a routerLink="/user/login"> Click me to logIn</a></li>
      <li *ngIf="isLoggedIn()"><a routerLink="/user/panel"><fa-icon [icon]="faUser"></fa-icon> {{username}} <span> {{title}} </span></a></li>
      <li><a routerLink="/"><fa-icon [icon]="faHome"></fa-icon> Home</a></li>
      <li><a routerLink="/currencies/forex"><fa-icon [icon]="faMoneyCheck"></fa-icon> Forex</a></li>  
      <li><a routerLink="/currencies/commodities"><fa-icon [icon]="faGem"></fa-icon> Commodities</a></li>  
      <li><a routerLink="/currencies/cryptos"><fa-icon [icon]="faCrypto"></fa-icon> Crypto Currencies</a></li>
      <li><a routerLink="/alert-center"><fa-icon [icon]="faBell"></fa-icon> Create Alert</a></li>  
      <li><a routerLink="/contact"><fa-icon [icon]="faPhone"></fa-icon> Contact Us</a></li>
    </ul>
  </div>
  