<div class="currencyFooterWrapper">
  <div class="currencyFooterNav">
    <span class="footerHeader">Exchange Rates</span>
    <a routerLink="/currencies/forex" title="See all currencies" class="pt-1"
      >See All</a
    >
  </div>

  <div  class="currencyFooterBody">
    
    <div class="currencyTable">
      <tbody>
        <tr class="text-muted" style="font-size: smaller;">
          <th>Exchange</th>
          <th>Sell</th>
          <th>Buy</th>
          <th>Change rate</th>
        </tr>
        <tr
          *ngFor="let index of [0,1,2,3,4,5,6,7,8]; let i = index"
          [attr.data-index]="i"
        >
          <td>{{ currencies[index].pair }}</td>
          <td>{{ currencies[index].ask }}</td>
          <td>{{ currencies[index].bid }}</td>
          <td 
          [ngClass]="currencies[index].chg.indexOf('-') < 0 ? 'changeIncreaseColor' : 'changeDecreaseColor'"
          >{{ currencies[index].chg }} 
            <fa-icon *ngIf="currencies[index].chg.includes('+')" [icon]="faArrowAltCircleUp"></fa-icon>
            <fa-icon *ngIf="currencies[index].chg.includes('-')" [icon]="faArrowAltCircleDown"></fa-icon>
          </td>
        </tr>
      </tbody>
    </div>
  </div>
</div>
