.currencyFooterWrapper{
    width: auto;

    margin-left: 1%;
}

.currencyFooterNav{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    background-color: #272D20;
    padding: 0.5rem;
    color: #FFFFFF;
}
.currencyFooterBody {
    background-color: #343A40;
    height: 100%;
    color: whitesmoke
    
}
.currencyTable{
    display: flex;
    justify-content: space-between;

}
tr:hover {
    background-color: #484F55;
}
th, td { 
    width:120px; 
    text-align:start; 
    padding:5px 
  
}
td:last-child, th:last-child{
    width: 100px;
}
.table { 
    border-collapse:separate; 
    border-spacing:0 15px; 
} 

.changeIncreaseColor {
    color: green;
}
.changeDecreaseColor {
    color: red;
}


