<div class="currencyFooterWrapper">
  <div class="currencyFooterNav">
    <span class="footerHeader">Exchange Rates</span>
    <a routerLink="/currencies" title="U.S Dollar Index" class="pt-1"
      >See All</a
    >
  </div>

  <div class="currencyFooterBody">
    <div class="currencyFooterHeaders text-muted">
      <span class="mr-2">parite</span>
      <span class="ml-2">change rate</span>
    </div>
    <div class="currencyTable">
        <a class="mr-2">exchangeName</a>
        <a class="ml-2">sell</a>
        <a class="ml-2">buy</a>
        <a class="ml-2">change</a>
    </div>
  </div>
</div>
<!-- 
<table class="table table-borderless currencytable">
    <tbody>
      <tr [ngClass]="gbpusdDiff > 0 ? 'increase' : 'decrease'">
        <th scope="row"><a href="#">GBP/USD</a></th>
        <td>{{oldgbpusd}}</td>
        <td>
            <fa-icon *ngIf="gbpusdDiff > 0" [icon]="faArrowAltCircleUp"></fa-icon>
            <fa-icon *ngIf="gbpusdDiff < 0" [icon]="faArrowAltCircleDown"></fa-icon>
            {{gbpusdDiffPerc}}</td>

      </tr>
      <tr [ngClass]="usdjpyDiff > 0 ? 'increase' : 'decrease'">
        <th scope="row"><a href="#">USD/JPY</a></th>
        <td>{{oldusdjpy}}</td>
        <td>
            <fa-icon *ngIf="usdjpyDiff > 0" [icon]="faArrowAltCircleUp"></fa-icon>
            <fa-icon *ngIf="usdjpyDiff < 0" [icon]="faArrowAltCircleDown"></fa-icon>
            {{usdjpyDiffPerc}}</td>

      </tr>
      <tr [ngClass]="usdcadDiff > 0 ? 'increase' : 'decrease'">
        <th scope="row"><a href="#">USD/CAD</a></th>
        <td>{{oldusdcad}}</td>
        <td>
            <fa-icon *ngIf="usdcadDiff > 0" [icon]="faArrowAltCircleUp"></fa-icon>
            <fa-icon *ngIf="usdcadDiff < 0" [icon]="faArrowAltCircleDown"></fa-icon>
            {{usdcadDiffPerc}}</td>
      </tr>

      <tr [ngClass]="usdsekDiff > 0 ? 'increase' : 'decrease'">
        <th scope="row"><a href="#">USD/SEK</a></th>
        <td>{{oldusdsek}}</td>
        <td>
            <fa-icon *ngIf="usdsekDiff > 0" [icon]="faArrowAltCircleUp"></fa-icon>
            <fa-icon *ngIf="usdsekDiff < 0" [icon]="faArrowAltCircleDown"></fa-icon>
            {{usdsekDiffPerc}}</td>
      </tr>

      <tr [ngClass]="usdchfDiff > 0 ? 'increase' : 'decrease'">
        <th scope="row"><a href="#">USD/CHF</a></th>
        <td>{{oldusdchf}}</td>
        <td>
            <fa-icon *ngIf="usdchfDiff > 0" [icon]="faArrowAltCircleUp"></fa-icon>
            <fa-icon *ngIf="usdchfDiff < 0" [icon]="faArrowAltCircleDown"></fa-icon>
            {{usdchfDiffPerc}}</td>
      </tr>

      <tr [ngClass]="audusdDiff > 0 ? 'increase' : 'decrease'">
        <th scope="row"><a href="#">AUD/USD</a></th>
        <td>{{oldaudusd}}</td>
        <td>
            <fa-icon *ngIf="audusdDiff > 0" [icon]="faArrowAltCircleUp"></fa-icon>
            <fa-icon *ngIf="audusdDiff < 0" [icon]="faArrowAltCircleDown"></fa-icon>
            {{audusdDiffPerc}}</td>
      </tr>

      <tr [ngClass]="eurjpyDiff > 0 ? 'increase' : 'decrease'">
        <th scope="row"><a href="#">EUR/JPY</a></th>
        <td>{{oldeurjpy}}</td>
        <td>
            <fa-icon *ngIf="eurjpyDiff > 0" [icon]="faArrowAltCircleUp"></fa-icon>
            <fa-icon *ngIf="eurjpyDiff < 0" [icon]="faArrowAltCircleDown"></fa-icon>
            {{eurjpyDiffPerc}}</td>
      </tr>

    </tbody>
  </table>
  <hr>
  <a routerLink="/currencies" class="text-muted clickme">Click here for more currency</a>
 -->
