.currencyBox {
    border: 1px solid #FFFF;
    border-collapse: collapse;
    font-size: 1rem;
    padding: 2rem;
    background-color: #343A40;
    color: #FFFF;
    height: 500px;
    width: 430px; 
    z-index: -1; 
    margin-top: 0.3rem;
    margin-left: 0.3rem;
  }
  .usdBox{
    background-color: #FFFF;
    height: 50px;
    width: 150px;
    margin-top: 0.5rem;
    border-radius: 25px;
    display:flex;
    align-items: center;
    justify-content:center;
    margin-bottom:0.5rem;
    
  }
  .currencyInput {
    color: #1D1E22;
    display: block;
  }
  .labels {
    display:flex;
    justify-content:space-between;
    align-items: center;
  }
  .box {
    margin-bottom: 2rem;
    border: 1px solid;
    padding:1rem;
  }
  
  .usdBox:hover {  
    -webkit-animation: changeColor 3.5s forwards;
  
  }
  
  @-webkit-keyframes changeColor{
        0%{background: green;}
        50%{background:light-green}
        100%{background:white}
    }
  