<div class="currencyBox shadow">
  <div class="box">
    <div class="labels">
      <span> {{ currencies[0].pair }} </span>
      <span> {{ currencies[0].time }}</span>
      <span>
        <fa-icon *ngIf="currencies[0].chg.indexOf('-') < 0" [icon]="faArrowAltCircleUp"></fa-icon>
        <fa-icon *ngIf="currencies[0].chg.indexOf('-') > 0" [icon]="faArrowAltCircleDown"></fa-icon>
         {{ currencies[0].chg }} </span>
    </div>

    <div class="labels">
      <div class="usdBox" [ngClass]="currencies[0].chg.indexOf('-') < 0 ? 'increaseCard' : 'decreaseCard'">
        <span class="currencyInput">{{ currencies[0].bid }}</span>
      </div>
      <div class="usdBox rightBox" [ngClass]="currencies[0].chg.indexOf('-') < 0 ? 'increaseCard' : 'decreaseCard'">
        <span class="currencyInput">{{ currencies[0].ask }}</span>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="labels">
      <span> {{ currencies[1].pair }} </span>
      <span> {{ currencies[1].time }}</span>
      <span>
        <fa-icon *ngIf="currencies[1].chg.indexOf('-') < 0" [icon]="faArrowAltCircleUp"></fa-icon>
        <fa-icon *ngIf="currencies[1].chg.indexOf('-') > 0" [icon]="faArrowAltCircleDown"></fa-icon>
         {{ currencies[1].chg }} </span>
    </div>

    <div class="labels">
      <div class="usdBox" [ngClass]="currencies[1].chg.indexOf('-') < 0 ? 'increaseCard' : 'decreaseCard'" >
        <span class="currencyInput">{{ currencies[1].ask }}</span>
      </div>
      <div class="usdBox" [ngClass]="currencies[1].chg.indexOf('-') < 0 ? 'increaseCard' : 'decreaseCard'" >
        <span class="currencyInput">{{ currencies[1].bid }}</span>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="labels">
      <span> {{ currencies[2].pair }} </span>
      <span> {{ currencies[2].time }}</span>
      <span>
        <fa-icon *ngIf="currencies[2].chg.indexOf('-') < 0" [icon]="faArrowAltCircleUp"></fa-icon>
        <fa-icon *ngIf="currencies[2].chg.indexOf('-') > 0" [icon]="faArrowAltCircleDown"></fa-icon>
         {{ currencies[2].chg }} </span>
    </div>

    <div class="labels">
      <div class="usdBox" [ngClass]="currencies[2].chg.indexOf('-') < 0 ? 'increaseCard' : 'decreaseCard'">
        <span class="currencyInput"> {{ currencies[2].ask }} </span>
      </div>
      <div class="usdBox" [ngClass]="currencies[2].chg.indexOf('-') < 0 ? 'increaseCard' : 'decreaseCard'">
        <span class="currencyInput"> {{ currencies[2].bid }} </span>
      </div>
    </div>
  </div>
</div>
