<div class="currencyBox">
  <div class="box">
  <div class="labels">
    <span> USD / TRY </span>
    <span> {{currencies[0].update}}</span>
    <span> {{currencies[0].degisim}} </span>
  </div>

    <div class="labels">
      <div class="usdBox">
    <span class="currencyInput">{{currencies[0].alis}}</span>
    </div>    
      <div class="usdBox">
    <span class="currencyInput">{{currencies[0].satis}}</span>
    </div>
    </div>
  </div>
  
  
       <div class="box">
  <div class="labels">
    <span> EUR / TRY </span>
    <span> {{currencies[1].update}}</span>
    <span> {{currencies[1].degisim}} </span>
  </div>

    <div class="labels">
      <div class="usdBox">
    <span class="currencyInput">{{currencies[1].alis}}</span>
    </div>    
      <div class="usdBox">
    <span class="currencyInput">{{currencies[1].satis}}</span>
    </div>
    </div>
  </div>
  
   <div class="box">
  <div class="labels">
    <span> USD / EUR </span>
    <span> {{currencies[0].update}}</span>
    <span> {{currencies[0].degisim}} </span>
  </div>

    <div class="labels">
      <div class="usdBox">
    <span class="currencyInput">{{pariteBuy}}</span>
    </div>    
      <div class="usdBox">
    <span class="currencyInput">{{pariteSell}}</span>
    </div>
    </div>
  </div>
</div>






<!-- 
    <div class="row dollarCard">
      <label>
        <input type="checkbox" />
        <div class="card">
          <div class="front">
            <fa-icon *ngIf="currencies[0].degisim.indexOf('-') < 0" [icon]="faArrowAltCircleUp"></fa-icon>
            <fa-icon *ngIf="currencies[0].degisim.indexOf('-') > 0" [icon]="faArrowAltCircleDown"></fa-icon>
            USD {{ currencies[0].satis }}
            <span><strong><fa-icon id="currencyIcon" [icon]="faDollarSign"></fa-icon></strong>Sell</span>
          </div>
          <div class="back">
            <fa-icon *ngIf="currencies[0].degisim.indexOf('-') < 0" [icon]="faArrowAltCircleUp"></fa-icon>
            <fa-icon *ngIf="currencies[0].degisim.indexOf('-') > 0" [icon]="faArrowAltCircleDown"></fa-icon>
            USD {{ currencies[0].alis }}
            <span><strong><fa-icon id="currencyIcon" [icon]="faDollarSign"></fa-icon></strong>Buy</span>
          </div>
        </div>
      </label>
    </div>
    <div class="row">
      <label class="euroCard">
        <input type="checkbox" />
        <div class="card">
          <div class="front">
            <fa-icon *ngIf="currencies[1].degisim.indexOf('-') < 0" [icon]="faArrowAltCircleUp"></fa-icon>
            <fa-icon *ngIf="currencies[1].degisim.indexOf('-') > 0" [icon]="faArrowAltCircleDown"></fa-icon>
            EUR {{ currencies[1].satis }}
            <span><strong><fa-icon id="currencyIcon" [icon]="faEuroSign"></fa-icon></strong>Sell</span>
          </div>

          <div class="back">
            <fa-icon *ngIf="currencies[1].degisim.indexOf('-') < 0" [icon]="faArrowAltCircleUp"></fa-icon>
            <fa-icon *ngIf="currencies[1].degisim.indexOf('-') > 0" [icon]="faArrowAltCircleDown"></fa-icon>
            EUR {{ currencies[1].alis }}
            <span><strong><fa-icon id="currencyIcon" [icon]="faEuroSign"></fa-icon></strong>Buy</span>
          </div>
        </div>
      </label>
    </div>
    <div class="row">
      <label class="poundCard">
        <input type="checkbox" />
        <div class="card ">
          <div class="front">
            <fa-icon *ngIf="currencies[2].degisim.indexOf('-') < 0" [icon]="faArrowAltCircleUp"></fa-icon>
            <fa-icon *ngIf="currencies[2].degisim.indexOf('-') > 0" [icon]="faArrowAltCircleDown"></fa-icon>
            GBP {{ currencies[2].satis }}
            <span><strong><fa-icon id="currencyIcon" [icon]="faPoundSign"></fa-icon></strong>Sell</span>
          </div>
          <div class="back">
            <fa-icon *ngIf="currencies[2].degisim.indexOf('-') < 0" [icon]="faArrowAltCircleUp"></fa-icon>
            <fa-icon *ngIf="currencies[2].degisim.indexOf('-') > 0" [icon]="faArrowAltCircleDown"></fa-icon>
            GBP {{ currencies[2].alis }}
            <span><strong><fa-icon id="currencyIcon" [icon]="faPoundSign"></fa-icon></strong>Buy</span>
          </div>
        </div>
      </label>
    </div>
 -->
