<div class="row">
  <div class="col-9 main">
    <div class="row">
      <div class="col-auto nopadding">
        <app-cards></app-cards>
      </div>
      <div class="col-auto nopadding">
        <app-currency-table></app-currency-table>
      </div>
      <div class="col-auto nopadding" style="width: 60%;">
        <app-line-chart></app-line-chart>
      </div>
    </div> 
    <div class="row">
      <div class="col-5 nopadding"><app-currencyfooter></app-currencyfooter> </div>
      <div class="col-auto nopadding"><app-smfooter></app-smfooter></div>
      <div class="col-auto nopadding"><app-currencyfooter></app-currencyfooter></div>
      <div class="col-auto nopadding"><app-currencyfooter></app-currencyfooter></div>
    </div>   
  </div>
  <div class="col-2 nopadding">Chat</div>
</div>
