<div class="wrapper">
    <div class="nopadding">
      <app-cards></app-cards>
    </div>
    <div class="nopadding"><app-crypto-card></app-crypto-card></div>

    <div class="nopadding">
      <app-currency-table></app-currency-table>
    </div>
    <div class="nopadding"><app-shares-table></app-shares-table></div>

    <div class="nopadding">
      <app-line-chart></app-line-chart>
    </div>
  <div class="subWrapper">
    <div class="nopadding">
      <app-currencyfooter></app-currencyfooter>
    </div>
    <div class= "nopadding"><app-smfooter></app-smfooter></div>
    <div class="nopadding">
      <app-commodityfooter></app-commodityfooter>
    </div>
    <div class="nopadding"><app-cryptofooter></app-cryptofooter></div>
  </div>
  

  <div class="nopadding"><app-chat-window></app-chat-window></div>
</div>
