<div class="container">
  <h3 style="color: white;">Instrument Alert</h3>
  <hr />
  <form
    [formGroup]="alertForm"
    (ngSubmit)="submitAlert()"
    class="searchGroup mt-4"
  >
    <div class="input-group" style="width: 40%; align-items: center;">
      <span class="alertLabel">Create Alert</span>
      <select
        class="custom-select"
        id="inputGroupSelect04"
        (change)="openAlertTab($event.target.value)"
        (change)= "showActivePair($event.target.value)"
        formControlName="pair"
        
        
      >
        >
        <option selected>Choose...</option>
        <option *ngFor="let pairOption of pairOptions" >{{pairOption}}</option>
      </select>
    </div>
    <div *ngIf="alertTab" class="alertOptions row">
      <div class="col-sm-4 firstColumn">
        <div class="alertInputGroup">
          <span class="subAlertLabel">Create Alert</span>
          <div class="limitFormGroup">
            <select formControlName="conditionName">
              <option selected >Moves Above</option>
              <option>Moves Below</option>
            </select>
            <input formControlName="limit" type="number" class="limitInput" />
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <span class="subAlertLabel">Frequency</span>

        <label class="container2"
          >Once
          <input
            type="radio"
            class="radio"
            checked="checked"
            value="Once"
            name="frequency"
          />
          <span class="checkmark"></span>
        </label>
        <label class="container2"
          >Requirring
          <input class="radio" type="radio" name="frequency" />
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="col-sm-4">
        <div class="deliveryLabel">
          <span>Delivery Method</span>
          <span>Status</span>
        </div>
        <div class="alertMethods">
          <div class="methodsInsideLabel">
            <span><fa-icon [icon]="faLaptop"></fa-icon></span>
            <span> Website popup</span>
          </div>
          <label class="checkBoxCont">
            <input class="webPopup" type="checkbox" checked="checked" />
            <span class="checkmarkSect"></span>
          </label>
        </div>
        <div class="alertMethods">
          <div class="methodsInsideLabel">
            <span><fa-icon [icon]="faMail"></fa-icon></span>
            <span> Email notification</span>
          </div>
          <label class="checkBoxCont">
            <input class="emailNotify" type="checkbox" checked="checked" />
            <span class="checkmarkSect"></span>
          </label>
        </div>
      </div>
      <div class="col-sm-2 createAlert">
        <button type="submit">
          <fa-icon [icon]="faArrow"></fa-icon> Create Alert
        </button>
      </div>
    </div>
  </form>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Condition</th>
        <th scope="col">Frequency</th>
        <th scope="col">Delivery Method</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let singleAlert of allAlerts">
        <th scope="row">{{ singleAlert.pair }}</th>
        <td>Price</td>
        <td>{{ singleAlert.conditionName }} {{ singleAlert.limit }}</td>
        <td>{{ singleAlert.frequency }}</td>
        <td>
          <fa-icon
            *ngIf="singleAlert.websitePopup"
            class="icons"
            [icon]="faLaptop"
          ></fa-icon
          ><fa-icon *ngIf="singleAlert.emailNotify" [icon]="faMail"></fa-icon>
        </td>
        <td id="statusSwitch">
          <div class="onoffswitch">
            <input
              type="checkbox"
              name="onoffswitch"
              class="onoffswitch-checkbox"
              id="myonoffswitch"
              tabindex="0"
              checked
            />
            <label class="onoffswitch-label" for="myonoffswitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
        </td>
        <td>
          <a title="Delete"
            ><fa-icon class="icons" [icon]="faTrash"></fa-icon></a
          ><a title="Edit"><fa-icon [icon]="faPen"></fa-icon></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
