<div class="container">
  <h3 style="color: white;">Instrument Alert</h3>
  <hr />
  <div class="searchGroup mt-4">
    <div class="input-group" style="width: 40%;">
      <span class="alertLabel">Create Alert</span>
      <select
        class="custom-select"
        id="inputGroupSelect04"
        (change)="openAlertTab($event.target.value)"
      >
        <option selected>Choose...</option>
        <option>One</option>
        <option>Two</option>
        <option>Three</option>
      </select>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Create</button>
      </div>
    </div>
    <div *ngIf="alertTab" class="alertOptions row">
      <div class="col-sm-4 firstColumn">
        
        <div class="alertInputGroup">
          <span class="subAlertLabel">Create Alert</span>
          <select>
            <option>Moves Above</option>
            <option>Moves Below</option>
          </select>
          <input>
        </div>
      </div>
      <div class="col-sm-2">
        <span class="subAlertLabel">Frequency</span>

        <label class="container2"
          >Once
          <input type="radio" checked="checked" name="radio" />
          <span class="checkmark"></span>
        </label>
        <label class="container2"
          >Requirring
          <input type="radio" name="radio" />
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="col-sm-4">
        <div class="deliveryLabel">
          <span>Delivery Method</span>
          <span>Status</span>
        </div>
        <div class="alertMethods">
          <div class="methodsInsideLabel">
            <span><fa-icon [icon]="faLaptop"></fa-icon></span>
            <span> Website popup</span>
          </div>
          <label class="checkBoxCont">
            <input type="checkbox" checked="checked">
            <span class="checkmarkSect"></span>
          </label>
        </div>
        <div class="alertMethods">
          <div class="methodsInsideLabel">
            <span><fa-icon [icon]="faMail"></fa-icon></span>
            <span> Email notification</span>
          </div>
          <label class="checkBoxCont">
            <input type="checkbox" checked="checked">
            <span class="checkmarkSect"></span>
          </label>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Condition</th>
        <th scope="col">Frequency</th>
        <th scope="col">Delivery Method</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">EUR/USD</th>
        <td>Price</td>
        <td>Moves above 1.1218</td>
        <td>Once</td>
        <td>
          <fa-icon class="icons" [icon]="faLaptop"></fa-icon
          ><fa-icon [icon]="faMail"></fa-icon>
        </td>
        <td id="statusSwitch">
          <div class="onoffswitch">
            <input
              type="checkbox"
              name="onoffswitch"
              class="onoffswitch-checkbox"
              id="myonoffswitch"
              tabindex="0"
              checked
            />
            <label class="onoffswitch-label" for="myonoffswitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
        </td>
        <td>
          <a title="Delete"
            ><fa-icon class="icons" [icon]="faTrash"></fa-icon></a
          ><a title="Edit"><fa-icon [icon]="faPen"></fa-icon></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
