<div class="comFooterWrapper">
    <div class="comFooterNav">
      <span class="footerHeader">Crypto Currencies</span>
      <a routerLink="/cryptos" title="See all cryptos" class="pt-1"
        >See All</a
      >
    </div>
  
    <div class="comFooterBody">
      
      <div class="comTable">
        <tbody>
          <tr class="text-muted" style="font-size: smaller;">
            <th>Name</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Chg 24 Hours</th>
          </tr>
          <tr
            *ngFor="let index of [0,1,2,3,4,5,6,7,8]; let i = index"
            [attr.data-index]="i"
          >
            <td>{{ cryptos[index].name }}</td>
            <td>{{ cryptos[index].symbol }}</td>
            <td>{{ cryptos[index].price }}</td>
            <td 
            [ngClass]="cryptos[index].chg24.indexOf('-') < 0 ? 'changeIncreaseColor' : 'changeDecreaseColor'"
            >{{ cryptos[index].chg24 }} 
              <fa-icon *ngIf="cryptos[index].chg24.includes('+')" [icon]="faArrowAltCircleUp"></fa-icon>
              <fa-icon *ngIf="cryptos[index].chg24.includes('-')" [icon]="faArrowAltCircleDown"></fa-icon>
            </td>
          </tr>
        </tbody>
      </div>
    </div>
  </div>
  