.comFooterWrapper{
    width: auto;

    margin-left: 1%;
}

.comFooterNav{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    background-color: #142A5C;
    padding: 0.5rem;
    color: #FFFFFF;
}
tr:hover {
    background-color: #484F55;
}
.comFooterBody {
    background-color: #343A40;
    height: 100%;
    color: whitesmoke
    
}
.comTable{
    display: flex;
    justify-content: space-between;

}
th, td { 
    width:130px; 
    text-align:start; 
    padding:5px 
  
}
th:last-child, td:last-child {
    width: 100px;
}
.table { 
    border-collapse:separate; 
    border-spacing:0 15px; 
} 

.changeIncreaseColor {
    color: green;
}
.changeDecreaseColor {
    color: red;
}


