<div class="content-section">
    <form class="form-group" [formGroup]="userLoginForm" (ngSubmit)="logIn()">
      <legend class="border-bottom mb-4">Login to Zamazon</legend>
      <input
        type="text"
        id="email"
        name="email"
        formControlName="email"
        class="form-control my-2"
        placeholder="Email"
        required
       />
       <div
       *ngIf="
       userLoginForm.get('email').invalid &&
         (userLoginForm.get('email').dirty ||
         userLoginForm.get('email').touched)
       "
       class="alert alert-warning"
     >
       Please provide a valid email
     </div>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
        class="form-control my-2"
        placeholder="Password"
        required
       />
       <div
       *ngIf="
       userLoginForm.get('password').invalid &&
         (userLoginForm.get('password').dirty ||
         userLoginForm.get('password').touched)
       "
       class="alert alert-warning"
     >
       Please provide an password between 6-15 characters
     </div>
     <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Log In</button>
    </div>
    </form>


  <div class="border-top pt-3">
    <small class="text-muted">
      <a routerLink="/user/forgotPassword" class="ml-2"
        >Forgot password?
      </a>
      <strong> . </strong>
      <a routerLink="/user/register" class="ml-2">Need an account? </a>
    </small>
  </div>
</div>
