<div class="currencyFooterWrapper">
  <div class="currencyFooterNav">
    <span class="footerHeader">Major World Indices</span>
    <a routerLink="/major-indices" title="See all indices" class="pt-1"
      >See All</a
    >
  </div>

  <div class="indicyFooterBody">
    
    <div class="indicyTable">
      <tbody>
        <tr class="text-muted" style="font-size: smaller;">
          <th>Index</th>
          <th>High</th>
          <th>Last</th>
          <th>Change rate</th>
        </tr>
        <tr
          *ngFor="let index of [0,1,2,3,4,5,6,7,8]; let i = index"
          [attr.data-index]="i"
        >
          <td>{{ indices[index].index }}</td>
          <td>{{ indices[index].high }}</td>
          <td>{{ indices[index].last }}</td>
          <td 
          [ngClass]="indices[index].chg.indexOf('-') < 0 ? 'changeIncreaseColor' : 'changeDecreaseColor'"
          >{{ indices[index].chg }} 
            <fa-icon *ngIf="indices[index].chg.includes('+')" [icon]="faArrowAltCircleUp"></fa-icon>
            <fa-icon *ngIf="indices[index].chg.includes('-')" [icon]="faArrowAltCircleDown"></fa-icon>
          </td>
        </tr>
      </tbody>
    </div>
  </div>
</div>
