<div class="container chatWrapper">
  <div class="tab center">
    <div class="tabs row">
      <button
        class="tablinks col-sm"
        id="exchangeRates"
        (click)="changeRoom($event)"
        #defaultSelection
      >
        Exchange Rates
      </button>
      <button
        class="tablinks col-sm"
        id="stockMarket"
        (click)="changeRoom($event)"
      >
        Stock Market
      </button>
      <button
        class="tablinks col-sm"
        id="randChannel"
        (click)="changeRoom($event)"
      >
        Random Channel
      </button>
    </div>
  </div>
  <div class="row">
  </div>
  <div id="exchangeRatesTab" class="tabContent">
    <div class="row">
      <div class="well">
        <div class="chatOffContentForex align-items-center">
          <strong> Forex Chat Closed. If you want to toogle on the chat click the yellow button ! </strong>
        </div>
        <div class="firstChatContent">
          <div *ngFor="let item of messageArray">
            <span 
              ><strong>{{ item.user }} : </strong> {{item.message}}</span
            >
          </div>
        </div>      
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <input type="text" class="form-control" (keydown.enter) = "sendMessage()" [(ngModel)]="messageText" />
      </div>
      <div class="col-sm-2">
        <button
          type="button"
          class="btn btn-success pull-right"
          (keydown.enter) = "sendMessage()"
        >
          Send
        </button>
      </div>
    </div>
  </div>
  <div id="stockMarketTab" class="tabContent">
    <div class="row">
      <div class="well">
        <div class="chatOffContentStock align-items-center">
          <strong> Stock Market Chat Closed. If you want to toogle on the chat click the yellow button ! </strong>
        </div>
        <div class="secondChatContent">
          <div *ngFor="let item of messageArray">
            <span 
              ><strong>{{ item.user }} : </strong> {{item.message}}</span
            >
          </div>
        </div>      
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <input type="text" class="form-control" (keydown.enter) = "sendMessage()" [(ngModel)]="messageText" />
      </div>
      <div class="col-sm-2">
        <button
          type="button"
          class="btn btn-success pull-right"
          (click)="sendMessage()"
        >
          Send
        </button>
      </div>
    </div>
  </div>
  <div id="randChannelTab" class="tabContent" style="display: none;">
    <div class="row">
      <div class="well">
        <div class="chatOffContentRand align-items-center">
          <strong> Random Chat Closed. If you want to toogle on the chat click the yellow button ! </strong>
        </div>
        <div class="thirdChatContent">
          <div *ngFor="let item of messageArray">
            <span 
              ><strong>{{ item.user }} : </strong> {{item.message}}</span
            >
          </div>
        </div>      
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <input type="text" class="form-control" (keydown.enter) = "sendMessage()" [(ngModel)]="messageText" />
      </div>
      <div class="col-sm-2">
        <button
          type="button"
          class="btn btn-success pull-right"
          (click)="sendMessage()"
          (keydown.enter) = "sendMessage()"
        >
          Send
        </button>
      </div>
    </div>
  </div>
  <div style="margin-top: 19px;" class="pull-right">
    
    <button type="button" class="btn btn-warning" title="Open the chat" (click)="chatToggle()"
    (click) = "status ? join() : leave()">
      <fa-icon [icon]="faPowerOff"></fa-icon>
    </button>
  </div>
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span (click)="closePopup()" class="close">&times;</span>
      <div class="popupContent">
        <p>You have to login to use chat application</p>
        <p>Click <a routerLink="user/login">here</a> to login</p>
      </div>
    </div>
  
  </div>
</div>
