
<div class="tableWrapper">
<div class="currencytable dxy">
    <a href="#" title="U.S Dollar Index" class="pt-1" ></a>
    <span class="dxyCurrency"></span>
</div>
<div class="comFooterWrapper">


  <div class="comFooterBody">
    
    <div class="comTable">
      <tbody>
        <tr class="text-muted" style="font-size: smaller;">
          <th>Pair</th>
          <th>Last</th>
          <th>Advice</th>
        </tr>
        <tr
          *ngFor="let advice of advices; let i = index"
          [attr.data-index]="i"
          (mouseover)="mouseOver($event)"
        >
          <td #headerarea>{{ advice.pair }}</td>
          <td>{{ advice.last }}</td>
          <td 
          [ngClass]="advice.advice.includes('Buy') ? 'changeIncreaseColor' : 'changeDecreaseColor'"
          #textarea
          >{{ advice.advice }} 

          </td>
        </tr>
      </tbody>
    </div>
  </div>
</div>
</div>

