<div class="container">
<div class="currencyTab">
  <table class="table table-hover offset">
    <thead>
      <tr>
        <th id="currenyHeader" scope="col" colspan="3">Real Time Streaming Forex  <input class="form-control" type="text" placeholder="Search" aria-label="Search"></th>
      </tr>
      <tr id="definers">
        <th scope="col">Pair</th>
        <th scope="col">Bid</th>
        <th scope="col">Ask</th>
        <th scope="col">Change</th>
        <th scope="col">Last Update</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let currency of currencies; let i = index"
        [attr.data-index]="i"
      >
        <th scope="row">{{ currency.pair }}</th>
        <td>{{ currency.bid }}</td>
        <td>{{ currency.ask }}</td>
        <td>{{ currency.chg }}</td>
        <td>{{ currency.time }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
