
<div class="tableWrapper">
    <div class="currencytable dxy">
        <a class="pt-1" ></a>
        <span title="headerOutput" class="headerOutput"></span>
    </div>
    <div class="comFooterWrapper">
      <div class="comFooterBody">
   
        <div class="comTable" >
          <tbody>
            <tr class="text-muted" style="font-size: smaller;">
              <th>Name</th>
              <th>Last</th>
              <th>Change</th>
            </tr>
            <tr
              *ngFor="let share of shares; let i = index"
              [attr.data-index]="i"
              (mouseover)="mouseOver($event)"


              
            >
              <td>{{ share.name }}</td>
              <td>{{ share.last }}</td>
              <td 
              [ngClass]="share.chgPerc.includes('+') ? 'changeIncreaseColor' : 'changeDecreaseColor'"
    
              >{{ share.chgPerc }} 
    
              </td>
            </tr>
          </tbody>
        </div>
      </div>
    </div>
    </div>
    
    