
<div class="tableWrapper" appHover>
    <div class="currencytable dxy">
        <a href="#" title="U.S Dollar Index" class="pt-1" >DXY</a>
        <span title="headerOutput" #zipEl class="headerOutput">96133</span>
    </div>
    <div class="comFooterWrapper">
      <div class="comFooterBody">
   
        <div class="comTable" >
          <tbody>
            <tr class="text-muted" style="font-size: smaller;">
              <th>Name</th>
              <th>Last</th>
              <th>Change</th>
            </tr>
            <tr
              *ngFor="let share of shares; let i = index"
              [attr.data-index]="i"
              data-track='hover'

              
            >
              <td>{{ share.name }}</td>
              <td>{{ share.last }}</td>
              <td 
              [ngClass]="share.chgPerc.includes('+') ? 'changeIncreaseColor' : 'changeDecreaseColor'"
    
              >{{ share.chgPerc }} 
    
              </td>
            </tr>
          </tbody>
        </div>
      </div>
    </div>
    </div>
    
    