.currencyBox {
  border-collapse: collapse;
  background-color: #343a40;
  color: #ffff;
  height: 100%;
  width: auto;
  z-index: -1;
  margin-left: 0.3rem;
  display: grid;
  grid-template-rows: repeat(auto-fill minmax(132px, 1fr));
}
.usdBox {
  background-color: #ffff;
  height: 50px;
  width: 95px;
  margin-top: 0.8rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.currencyInput {
  color: #1d1e22;
  display: block;
}
.labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box {
  border: 2px solid;
  border-bottom: 0;
  padding: 0.9rem;
  border-collapse: collapse;
}
.box:nth-child(3) {
  border-bottom: 2px solid white;
}

.increaseCard {
  -webkit-animation: increaseCardEffect 3.5s forwards;
  animation: increaseCardEffect 3.5s forwards;
}
.decreaseCard {
  -webkit-animation: decreaseCardEffect 3.5s forwards;
  animation: decreaseCardEffect 3.5s forwards;
}

@keyframes increaseCardEffect {
  0% {
    background: green;
  }
  50% {
    background: lightgreen;
  }
  100% {
    background: white;
  }
}
@keyframes decreaseCardEffect {
  0% {
    background: red;
  }
  50% {
    background: lightcoral;
  }
  100% {
    background: white;
  }
}

@media only screen and (max-width: 1920px) {
  .currencyBox {
    font-size: 0.7rem;
  }
  .usdBox {
    width: 40%;
    height: 35px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
  .pt-1 {
    font-size: 0.7rem;
  }
}
