<div class="currencyBox shadow">
    <div class="box">
      <div class="labels">
        <span> {{ cryptos[0].name }} </span>
        <span> {{ cryptos[0].symbol }} </span>
        <span>
          <fa-icon *ngIf="cryptos[0].chg24.includes('+')" [icon]="faArrowAltCircleUp"></fa-icon>
          <fa-icon *ngIf="cryptos[0].chg24.includes('-')" [icon]="faArrowAltCircleDown"></fa-icon>
           {{ cryptos[0].chg24 }} </span>
      </div>
  
      <div class="labels">
        <div class="usdBox" [ngClass]="cryptos[0].chg24.includes('+') ? 'increaseCard' : 'decreaseCard'">
          <span class="currencyInput">{{ cryptos[0].price }}</span>
        </div>
        <div class="usdBox rightBox" [ngClass]="cryptos[0].chg24.includes('+') ? 'increaseCard' : 'decreaseCard'">
          <span class="currencyInput">{{ cryptos[0].price }}</span>
        </div>
      </div>
    </div>
  
    <div class="box">
      <div class="labels">
        <span> {{ cryptos[1].name }} </span>
        <span> {{ cryptos[1].symbol }}</span>
        <span>
          <fa-icon *ngIf="cryptos[1].chg24.includes('+')" [icon]="faArrowAltCircleUp"></fa-icon>
          <fa-icon *ngIf="cryptos[1].chg24.includes('-')" [icon]="faArrowAltCircleDown"></fa-icon>
           {{ cryptos[1].chg24 }} </span>
      </div>
  
      <div class="labels">
        <div class="usdBox" [ngClass]="cryptos[1].chg24.includes('+') ? 'increaseCard' : 'decreaseCard'" >
          <span class="currencyInput">{{ cryptos[1].price }}</span>
        </div>
        <div class="usdBox" [ngClass]="cryptos[1].chg24.includes('+') ? 'increaseCard' : 'decreaseCard'" >
          <span class="currencyInput">{{ cryptos[1].price }}</span>
        </div>
      </div>
    </div>
  
    <div class="box">
      <div class="labels">
        <span> {{ cryptos[2].name }} </span>
        <span> {{ cryptos[2].symbol }}</span>
        <span>
          <fa-icon *ngIf="cryptos[2].chg24.includes('+')" [icon]="faArrowAltCircleUp"></fa-icon>
          <fa-icon *ngIf="cryptos[2].chg24.includes('-')" [icon]="faArrowAltCircleDown"></fa-icon>
           {{ cryptos[2].chg24 }} </span>
      </div>
  
      <div class="labels">
        <div class="usdBox" [ngClass]="cryptos[2].chg24.includes('+') ? 'increaseCard' : 'decreaseCard'">
          <span class="currencyInput"> {{ cryptos[2].price }} </span>
        </div>
        <div class="usdBox" [ngClass]="cryptos[2].chg24.includes('+') ? 'increaseCard' : 'decreaseCard'">
          <span class="currencyInput"> {{ cryptos[2].price }} </span>
        </div>
      </div>
    </div>
  </div>
  